/* ******************* INDEX ********************** */
/* Header */
:root {
  --gap: 26px;
  --cta-bg: #9b9b9b;
  --cta-color: #fff;
}

.site-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 28px 24px;
}
.top-nav ul {
  display: flex;
  gap: 18px;
  margin: 0;
  padding: 0;
  list-style: none;
}
/* Header */

/* CTA grid */
.cta-nav {
  display: grid;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0 0 60px 0;
}

.cta-nav li {
}
.cta {
  display: grid;
  background: var(--cta-bg);
  color: var(--cta-color);
  text-decoration: none;
  padding: 36px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.5;
  text-align: center;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  color: #222;
}

@media (min-width: 1200px) {
  .cta-nav {
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap);
  }
}
/* CTA grid */
/* ******************* INDEX ********************** */

/* ******************* PRODUCTLIST  ********************** */
.productlist img {
  width: 100%;
  height: auto;
  max-width: 500px;
  max-height: 500px;
}

& article {
  position: relative;
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 7;
  gap: 0;
}
& main h2 {
  grid-column: 1/-1;
}
& article h3 {
  font-size: 1rem;
}
& article > * {
  margin: 0;
  font-size: 0.9rem;
}
& .discounted_element p,
& .discounted.soldOut .discounted_element p {
  display: none;
}

& .discounted .discounted_element {
  display: flex;
  justify-content: space-between;
  & p {
    display: block;
  }
}

& .discounted .price {
  text-decoration: line-through;
}

& .color_me_red {
  background-color: red;
}
.color_me_black_and_red {
  background-color: black;
  color: red;
}

& .soldoutTxt {
  display: none;
}
& .soldOut .soldoutTxt {
  display: block;
  position: absolute;
  z-index: 100;
  top: 0;
  left: 0;
}

& .soldOut::after {
  content: "";
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.442);
  border: 0.1px solid lightgray;
  height: 100%;
  width: 100%;
  position: absolute;
}

& .subtle {
  color: var(--text-decoration-color);
}

@media (min-width: 1200px) {
  .productlist {
    & main {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
      gap: 2rem;
    }
  }
}
/* ******************* PRODUCTLIST  ********************** */

/* ******************* PRODUCT ********************** */
.productImage {
  width: 100%;
  height: auto;
  max-width: 500px;
  max-height: 500px;
}

.breadcrumbs {
  display: none;
}

.productDetails {
  background: #d8d8d8;
  color: var(--background-color);
  padding: 1rem;
}

.info {
  padding: 1rem;
}
.product select {
  min-width: 100px;
}
.product main {
  display: grid;
}
.product main .breadcrumbs,
.product main img {
  grid-column: 1/-1;
}
.purchaseBox form label {
  gap: 1rem;
}
.purchaseBox button {
  display: block;
  margin-top: 1rem;
  width: 100%;
}
dt {
  font-weight: 700;
}
@media screen and (min-width: 900px) {
  .product main {
    grid-template-columns: 1fr 310px;
  }

  .info {
    order: 0;
  }
  .purchaseBox {
    order: 2;
    transform: translate(-50px, -100px);
  }

  #productContainer {
    display: flex;
    font-size: 1.5rem;
    list-style-type: none;
    justify-content: center;
  }

  #productContainer li::after {
    content: " > ";
    font-size: 0.6rem;
    display: inline-block;
    width: 10px;
    height: 10px;
    margin: 0 10px;
    transition: all 0.3s;
  }

  #productContainer li:last-child::after {
    background: none;
    content: "";
  }
}

.productDetails {
  background: #d8d8d8;
  color: var(--background-color);
  padding: 1rem;
  justify-content: right;
}

.productImage {
  width: 100%;
  height: auto;
  max-width: 800px;
  max-height: 800px;
  justify-content: center;
}

/* ******************* PRODUCT ********************** */
